* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

ul li {
    margin: 1rem;
    font-size: 2rem;
    list-style: none;
}

ul li a {
    padding: 2rem;
    text-decoration: none;
    color: bisque;
    position: relative;
}

ul li a::before {
    content: "";
    width: 20%;
    height: 20%;
    top: 0;
    left: 0;
    border-top: 2px solid crimson;
    border-left: 2px solid crimson;
    position: absolute;
    transition: ease-in-out 0.4s;
}

ul li a::after {
    content: "";
    width: 20%;
    height: 20%;
    bottom: 0;
    right: 0;
    border-bottom: 2px solid cornflowerblue;
    border-right: 2px solid cornflowerblue;
    position: absolute;
    transition: ease-in-out 0.4s;
}

ul li a:hover:after,
ul li a:hover:before {
    width: 100%;
    height: 100%;
}
